<html><head><title>Dashboard</title></head><body>
Checklist for leaving the house

You
 * Have slept enough to walk around
 * Sunscreen/hat/water
William stuff
 * Sunscreen
 * Change nappy
 * Will he need a feed?
 * Will he be too hot? Too cold? Check outside!

{{ range .Weather }}
<hr/>
  {{ .Date }}:
  {{ .Description }}
  {{ if .ChanceOfRain }}
    {{ .ChanceOfRain }} chance of rain.
  {{ end }}

  {{ if .PreciseForecast }}
    Temperatures from {{ .MinTemperature }} to {{ .MaxTemperature }}
  {{ end }}

{{ end }}

</body></html>
